.root {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 300px;
    -fx-background-repeat: repeat;
}

.text-field {
    -fx-background-color: #eaeade;
    -fx-font: 15px "Arial";
}

.button {
    -fx-background-color: #d3b683;
    -fx-font: 15px "Arial";
}

.button:hover {
    -fx-background-color: #aa845a;
    -fx-font-size: 18px;
    -fx-text-fill: #fff5e1;
}

.button:pressed {
    -fx-background-color: #fff5e1;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #aa845a;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

